{{define "title"}}ActivityPub Dev -- Library -- {{.ShortName}}{{end}}
{{define "body"}}
<p>We can communicate in real-time across the globe, with billions of people.
We've designed and build complex systems and networks used by billions of
computers to exchange information and make decisions.</p>
<p>Yet, having a productive discussion with a handful of individuals is still
one of the most frustrating experience for the vast majority of people I
know.</p>
<p>When was the last time you reached consensus in a discussion involving people
with conflicting opinions? How long did it take? Did you enjoy the process?</p>
<p>When we think about alternative social media and commons in general, we tend
to focus on the technical and pragmatic issues.</p>
<p>We build the software, the user interface. We design and standardize new
protocols to enable decentralized, federated and peer-to-peer communication. We
try to seduce new users, to market our alternative, to raise awareness about
privacy issues.</p>
<p>Really, we're doing our best. At the same time, we're blind when it comes to
the most glaring problem.</p>
<p><strong>Governance is the only issue</strong></p>
<p>The only reason we're building alternatives to centralized and proprietary
platforms such as Facebook is that the people and companies designing and
maintaining those platforms are failing us. Their business models dictate their
governance models which in turn dictate our (bad) user experience.</p>
<p>Still, when we start working on alternatives, we forget to acknowledge the
importance of governance. Most of the time, decision power ends up in the hands
or one or few individuals who started or maintain such projects. We blindly
trust and praise those heroes, whatever they are doing, or not doing. New,
divergent or conflicting opinions are being dismissed for the sake of moving
forward, and this is not acceptable if our end goal is to provide sustainable
alternatives.</p>
<p>To be fair, democratic governance suffers from a paradox. Lots of projects
are started by individual and grow organically, attracting more users and
contributors, which eventually form a community.</p>
<p>But no one can build a democratic governance alone, before the community
exists. Building one after the community is formed is hard, and increasingly
harder as the community grows: designing a democratic decision process when
there is no such thing in place, well, it's as fun as it sounds. Hence the
paradox: you can't design your governance when it's easy, and at the same time,
the longer you wait, the harder it gets, and the most you need it.</p>
<p><strong>We miss the tools and skills</strong></p>
<p>On top of that, we humans usually lack the necessary tools, skills and
education to have productive discussions and decide collectively. Even for
trivial scenarios, like finding a place to eat with a dozen friends, we're
struggling to solve the problem at hand in a way that is both efficient and
satisfying for everyone.</p>
<p>We should be prepared and educated for that. The situation may be better in
other countries, but at least in France, the school system does not care about
those skills, at all. We're not taught to work together, to express ourselves
in a relevant and non-violent way, to summarize our thoughts and ideas to make
them accessible to various audiences, to share and accept constructive
criticism, to moderate a discussion and ensure it is productive...</p>
<p>We are taught to fear and follow authority, to work alone, to silence
divergent opinions, to mock difference, to seek approval and fear criticism.</p>
<p>Given that, it's not surprising entire generations are struggling with
anything that involve collective decision making, and instead accept to rely on
a few leaders to make the decisions.</p>
<p><strong>It's time to learn</strong></p>
<p>If we continue the way we are headed, building alternatives to centralized
and capitalist services, as fast as we can, focusing on the tech and products
and ignoring the need for explicit, democratic governance, we're going to fail.
Alternative <em>tech</em> in itself is required, but not enough to build an
alternative <em>service</em>.</p>
<p>It's time take a step back, to slow down and let people hop on the train. To
do that, we have to educate ourselves, to consciously think about the decision
process and the power dynamics at work inside the projects we're using or
working on, establishing, documenting, tweaking or fixing those processes when
needed.</p>
<p>Moreover, we have to develop a real culture of governance, that will help
communities to overcome the same issues. I don't believe we can automate
governance or attain democracy through tech, although, used wisely, tech can
help. We can and should, however, share our tips, tricks, stories, successes
and - especially - failures in order to develop this culture.</p>
<p>If you're a project maintainer, and your project does not have any explicit
rules and processes for democratic decisions in place, consider starting a
discussion with your community to address this problem. It does not have to
happen overnight (and it probably shouldn't anyway). Any step you will make in
that direction will pay off and remove some load and pressure from your
shoulders.</p>
<p>In your communities, avoid treating project maintainers as heroes or
benevolent dictators. Hero narratives have serious consequences for the supposed
heroes, and pave the way to burn-out, depressions and other severe mental health
issues. They are also toxic for the project and community well-being. As you may
know, there is a very thin frontier between a hero and a villain.</p>
<p>Finally, don't be afraid to engage respectfully but firmly in discussions
regarding topics that matters to you, to offer help, ask for guidance, take
ownership.</p>
<p>Keyboards are fine, but if we're to grow something beautiful, we need to get
our hands dirty.</p>
<p><strong>Credits</strong></p>
<p>This essay was heavily inspired and motivated by a talk entitled
"Organisational Processes in Decentralized Sofware, given by Natacha Roussel and
Zeyev, during Fosdem 2019<sup><a href="#footnote-1">1</a></sup>. Especially,
the "hero narrative" terminology and analysis owe a lot to Zeyev's
interventions. The video for the talk should be published
soon<sup><a href="#footnote-2">2</a></sup>.</p>
<p>Many thanks to Maloki and all the contributors to the Florence (also known as
Fork Together) project, who got their hands dirty and contributed to raise
awareness about the need for democratic governance in the Fediverse space.</p>
<p>Finally, thanks to Mélanie for the proofreading!</p>
<div class='footnotes'>
	<span id="footnote-1">1:</span>
		<a href="https://fosdem.org/2019/schedule/event/organisational_processes_in_decentralized_software/">https://fosdem.org/2019/schedule/event/organisational_processes_in_decentralized_software/</a>
	<br>
	<span id="footnote-2">2:</span>
		<a href="https://video.fosdem.org/2019/UD2.218A/">https://video.fosdem.org/2019/UD2.218A/</a>
</div>
{{end}}
