{{define "title"}}ActivityPub Dev -- Library -- {{.ShortName}}{{end}}
{{define "body"}}
<p>I read a Fediverse post simply stating that what makes Twitter bad is the
people on Twitter. I do not believe in this oversimplification, even if I
believe the Fediverse is a better place than Twitter. But it isn’t because of
any people’s quality criterion, rather about general policy and empowering users
and admins.</p>
<blockquote>Fediverse is a portmanteau of two words “federation” and “universe”.
It is a common name for federated social networks running on free open software
on a myriad of servers across the world.
<cite><a href="https://fediverse.party/en/fediverse">Fediverse.party</a></cite>
</blockquote>
<p>What makes Twitter bad in my opinion, is the constant push for more
engagement, positive or negative, it doesn’t matter. Twitter users are
constantly shown posts by people they do not follow, whether through promoted
tweets, public replies, mutual contacts, trends, or just similarity according to
Twitter’s algorithms with the latest desktop Twitter update: Accessing a single
tweet’s URL can show an intermediary screen with a couple of the tweet’s “top
replies” plus a bunch of “recommended tweets”, and you need an extra click to
access the full conversation on the tweet you wanted to see.</p>
<p>There is, as far as I know, no way to prevent any of these content pushes. So
much so that I ended protecting my own Twitter account because I just couldn’t
keep myself from angrily replying to random people I deemed wrong, often leading
to anxiety-inducing repartee jousts. Protecting my account meant that random
people wouldn’t see my replies, which defused the self-harming impulse. I’ve had
conversations on Twitter with random people that ended up being interesting and
fulfilling, but not nearly enough to justify letting myself off a very short
leash.</p>
<p>On the Fediverse, on the contrary, there is no such engagement rush. Instance
admins have extensive moderation tools, users as well, which leads, in my
personal case, to a sane and mostly predictable timeline. But again, it isn’t
because people are inherently better on the Fediverse. I have server-wide blocks
enabled on my single-user Friendica node. I have blocked several contacts with
whom I’ve had unpleasant conversations. And I’ve seen people on the Fediverse
criticizing or mocking the blocking behaviors of others, citing “filter bubble”
as if it was an inherently bad thing and not just a structural behavior of our
curated social circles.</p>
<p>But fine-grained user-controlled filtering is exactly what makes the
Fediverse better than Twitter. We just aren’t meant to receive all the content
in the world, some of it is upsetting, for a variety of personal reasons that
are specific to each one of us. The people advocating for having unfettered
access to all the federated content must necessarily be equally unaffected by
all points of view and I for one don’t want to have anything to do with
them.</p>
<p>Thankfully, on the Fediverse, I don’t have to.</p>
{{end}}
