{{define "title"}}ActivityPub Dev -- Library -- {{.ShortName}}{{end}}
{{define "body"}}
<p>B.1 Authentication and Authorization</p>
<p>ActivityPub uses authentication for two purposes; first, to authenticate clients
to servers, and secondly in federated implementations to authenticate servers to
each other.</p>

<p>Unfortunately at the time of standardization, there are no strongly agreed upon
mechanisms for authentication. Some possible directions for authentication are
laid out 
<a href="https://www.w3.org/wiki/SocialCG/ActivityPub/Authentication_Authorization">
	in the Social Web Community Group Authentication and Authorization best
	practices report</a>.</p>
{{end}}
