{{define "title"}}ActivityPub Dev -- Library -- {{.ShortName}}{{end}}
{{define "body"}}
<p>In 1995, I got my first taste of the World Wide Web. That&#39;s a funny thing
to think about now, but at the time it was very new and most websites that I
found were weird, off the wall, and amazingly amateurish. I found sites about
Bonsai Kittens, connecting soda machines to the internet, lucid dreaming and a
bunch of vanity websites from people just wanting other people to know they
existed.</p>

<p>In 1997, I ran my very own website from my dorm room. It was thanks to
Microsoft Personal Web Server, and it let my humble desktop PC present me to the
world. I used it to host essays for school... before it crashed.</p>

<p>In the early 2000s, I found LiveJournal and at the time, LiveJournal filled
the same role in my life that the Fediverse does now. I had real life friends
who followed me on LiveJournal. I had friends from LiveJournal, I met people
through people on LiveJournal and was exposed to new thoughts, ideas and
experiences through reading about others&#39; lives.</p>

<p>I loved it so much, I was not only a paid subscriber, but I paid for a
lifetime membership. ...Until the site was bought out by a Russian company and
I closed my account.</p>

<p>When Twiter came onto my radar, it was through geeky friends who had seen it
at a conference. It was a Rails project and it was a bridge to SMS texting. It
felt more like IRC than blogging. Blogging was at least a few paragraphs, and
they spoke to something about the person&#39;s experience. They might be
personal, or technical, but they felt intimate and connecting. Twitter was 140
characters.</p>

<p>Mastodon made a choice to be 500 characters, which was more than three times
better! But as time has gone on, I&#39;ve found myself writing posts that span
three, four or five toots. This isn&#39;t a limitation of ActivityPub-
it&#39;s a design choice of Mastodon itself to limit itself to
microblogging.</p>

<p>But I miss blogging, and if Medium has taught me anything, it&#39;s taught me
that other people miss it too, and they&#39;re even willing to put up with
Medium to have it!</p>

<p>So I&#39;m using Write Freely/Write.as to blog again. With ActivityPub,
people can subscribe to my posts just as easily as they could on LiveJournal,
either from ActivityPub or RSS. And who knows, maybe this whole thing will take
off and I&#39;ll be able to feel like I really know people&#39;s thoughts and
feeling again. Maybe we can bring the humanity back to social networking.</p>
{{end}}
