{{define "title"}}ActivityPub Dev -- Library -- {{.ShortName}}{{end}}
{{define "body"}}
<p>Datashards is finally getting traction in the world and so it&#39;s time
to reflect on where we are and where the project is going.</p>

<p>Datashards is a project that offers up a new storage primitive for secure
data storage and transmission. With Datashards the data at rest is encrypted
and also protected against data shape attacks. Datashards is designed to work
either online or offline and even lets you store your data on someone&#39;s
machine even if you don&#39;t trust them.</p>

<p>Datashards has the opportunity to be an entirely transformational
technology in terms of being able to safely store and transmit data.</p>

<p>We&#39;ve already proven the concept works and we can implement it in
multiple languages as we have Fixed Datashards (previously Immutable
Datashards) implemented in Racket and Python, and we have Updatable
Datashards (previously Mutable Datashards) in Racket.</p>

<p>In the next few months, we&#39;ll be working to get Updatable Datashards
implemented in Python.</p>

<p>We&#39;re also working with a talented and dedicated software developer to
get a Javascript implementation of Datashards (both Fixed and Updatable),
which we hope will open up many new opportunities.</p>

<p>We will be highlighting these libraries on the Datashards website, along
with documentation on how Datashards works and implementation guidelines.</p>

<p>In even more exciting news, we&#39;re starting work on a protocol built on
top of Datashards designed to enable Datashards servers to communicate.</p>

<p>Datashards is a storage primitive. In that way, it&#39;s a bit like the
concept of a file- useful as a concept but without implementations and
application, nothing more than an interesting idea. The protocols that
we&#39;re building on top of Datashards are akin to a filesystem built on top
of those primitives and that will allow developers to build interesting
things using Datashards.</p>

<p>In order to accomplish this task well, Chris and I have been working with
possible users of the technology as well as spending time researching similar
systems in the past, as well as various peer to peer messaging technologies
and patterns in order to build something that is pratical, scalable and build
on solid engineering principles.</p>
{{end}}
