{{define "title"}}ActivityPub Dev - PB-1{{end}}
{{define "body"}}
<i>The following snippet is reproduced from the
	<a href="https://www.w3.org/TR/activitypub/#security-considerations">
	ActivityPub Specification</a> and is subject to the 2015
<a href="https://www.w3.org/Consortium/Legal/2015/copyright-software-and-document">
	permissive document license</a>.</i>
<p>B.1 Authentication and Authorization</p>
<p>ActivityPub uses authentication for two purposes; first, to authenticate clients
to servers, and secondly in federated implementations to authenticate servers to
each other.</p>

<p>Unfortunately at the time of standardization, there are no strongly agreed upon
mechanisms for authentication. Some possible directions for authentication are
laid out 
<a href="https://www.w3.org/wiki/SocialCG/ActivityPub/Authentication_Authorization">
	in the Social Web Community Group Authentication and Authorization best
	practices report</a>.</p>
{{end}}
