{{define "title"}}ActivityPub Dev - About{{end}}
{{define "body"}}<h1>About Our Mission</h1>
<p>ActivityPub.dev is a grassroots effort to be a digital library of public
community discussions about the ActivityPub protocol. It hopes to be useful
to those with the power to change individual software or draft the next
version of ActivityPub.</p>
<p>This site does not represent an authoritative, decision-making body.</p>
<h2 id="what-is-activitypub">What is ActivityPub?</h2>
<p>ActivityPub is the underlying protocol for Fediverse applications such
as Mastodon, Funkwhale, Pleroma, WriteFreely, PeerTube, and many many others.
When the specification was first published on 23 January 2018, it acknowledged
major areas in need of further technical improvement. For example, two such
major areas identified are privacy and security concerns, but many other
problems go beyond these pre-identified topics.</p>
<h2 id="what-is-the-problem">What is the Problem?</h2>
<p>In the years since the
specification was released, addressing these two problems has come about in an
ad-hoc way that rewards software for simply moving first with a lot of users.
Also during these years, non-technical community members have spent a good deal
of time and energy identifying problems with the status quo. At rare times, the
community has successfully connected with developers to enact change. However,
most feedback has fallen on deaf ears or has nowhere to be acted upon, which is
a failure that reflects on the community as a whole.</p>
<p>Part of this failure stems from the lack of organization: There is neither a
single person nor group that has the power to force any other dev to change
their ActivityPub software. For software engineers in the community, there has
been no compelling reason to document and organize potential changes
to the ActivityPub protocol -- it could all go to waste as peer developers shrug
off proposed changes. For non-technical members of the community, there is no
way to act upon identified problems nor an avenue for uplifting voices.</p>
<h2 id="how-does-a-community-library-help">How Does a Community Library
	Help?</h2>
<p>We can create a digital library whose mission caters to documenting a
discussion that directly links Fediverse community members right up to
those with the power to enact change to software or specifications.</p>
<p>This only partially solves the problem. It can capture high-quality
discussions, but it will take further work outside of this library to actually
act upon and demonstrate change. To capture the discussions, it documents four
categories of literature:</p>
<ul>
	<li><a href="/problems.html">Problems</a>, not necessarily technical in
		nature, with the Fediverse.</li>
	<li><a href="/analyses.html">Analyses</a> that break down problems.
		These breakdowns may identify opportunities for technological
		improvements, but more importantly they can identify which parts
		of problems are not solved by technology.</li>
	<li><a href="/experiments.html">Experiments</a> from developers or other
		members of the community that want to try addressing a concrete
		idea provided in an analysis.</li>
	<li><a href="/objections.html">Objections</a> made by community members
		in response to a problem, an analysis, an experiment, or other
		objections.</li>
</ul>
<p>Hopefully this will capture a discussion that directly links Fediverse
community members to those able to enact change.</p>
<h2 id="site-operation">Site Operation</h2>
<p>This site is operated by
<a href="https://mastodon.technology/@cj">@cj@mastodon.technology</a>.</p>
<h2 id="governance-oversight">Governance / Oversight</h2>
<p>This library's governance is currently very small: only
<a href="https://mastodon.technology/@cj">@cj@mastodon.technology</a> is
running things. That is probably because this is so new! If you are interested
in helping, please reach out!</p>
<p>Almost anyone is welcome to participate. Having a technical background isn't
a requirement. Those who advance racist, homophobic, transphobic, or genocidal
ideologies are barred from participating.</p>
<h2 id="short-names">Short-Names</h2>
<p>All accepted submissions are given a short acronym. This acts as an easy way
to refer to existing submissions with ease. We use short-names to make sure the
community has a quick way to refer to our content when discussing it in public,
and short-names can also be used in the submission process.</p>
{{end}}
