{{define "title"}}ActivityPub Dev -- Library -- About{{end}}
{{define "body"}}<h1>About Our Mission</h1>
<p>ActivityPub.dev is a grassroots effort to be a digital library of public
community discussions about the ActivityPub protocol. It hopes to inform people
that are new to the Fediverse and wish to learn more about the cultural,
technical, or other contexts by which the community has developed. It also hopes
to be useful to those already familiar with the protocol or the community, so 
it can be a resource for those with the power to change individual software or
draft the next version of ActivityPub.</p>
<p>This site's strategy for categorization is a simple one: it is an attempt
to facilitate long-form discussions from problem to solution. Some people may be
better suited for identifying problems, others for providing a unique viewpoint
in analyzing the status quo, others for maintaining a sense of social community,
and others with impacting technical change. The categorization strategy is
intended to prevent exhaustion of community members who would otherwise be
severely burdened getting their voice out.</p>
<h2 id="what-the-library-is-not">What The Library Is Not</h2>
<p>Succintly, this library does not represent an authoritative, decision-making
body.</p>
<p>While the library aims to be a resource for those who are making changes to
ActivityPub, this site is not the place for that kind of decision-making. By
encouraging discussions that directly connect community-identified problems to
technical experiments, it is the hope that those who do have the power to draft
future versions of ActivityPub refer to this digital library.</p>
<h2 id="what-is-activitypub">What is ActivityPub?</h2>
<p>ActivityPub is the underlying protocol for Fediverse applications such
as Mastodon, Funkwhale, Pleroma, WriteFreely, PeerTube, and many many others.
When the specification was first published on 23 January 2018, it acknowledged
major areas in need of further technical improvement. For example, two such
major areas identified are privacy and security concerns, but many other
problems go beyond these pre-identified topics.</p>
<h2 id="what-is-the-problem">What is the Problem?</h2>
<p>In the years since the
specification was released, addressing these two problems has come about in an
ad-hoc way that rewards software for simply moving first with a lot of users.
Also during these years, non-technical community members have spent a good deal
of time and energy identifying problems with the status quo. At rare times, the
community has successfully connected with developers to enact change. However,
most feedback has fallen on deaf ears or has nowhere to be acted upon, which is
a failure that reflects on the community as a whole.</p>
<p>Part of this failure stems from the lack of organization: There is neither a
single person nor group that has the power to force any other dev to change
their ActivityPub software. For software engineers in the community, there has
been no compelling reason to document and organize potential changes
to the ActivityPub protocol -- it could all go to waste as peer developers shrug
off proposed changes. For non-technical members of the community, there is no
way to act upon identified problems nor an avenue for uplifting voices.</p>
<h2 id="how-does-a-community-library-help">How Does a Community Library
	Help?</h2>
<p>We can create a digital library whose mission caters to documenting a
discussion that directly links Fediverse community members right up to
those with the power to enact change to software or specifications.</p>
<p>Even better, the community can help identify the kinds of problems that
technology cannot solve</p>
<p>Still, this only partially solves the problem. The library can capture
high-quality discussions, but it will take further work outside of this site to
actually act upon and demonstrate change. To capture the discussions, it
documents four categories of literature:</p>
<ul>
	<li>Problem Identification, not necessarily technical in
		nature, with the Fediverse.</li>
	<li>Analyses that break down problems.
		These breakdowns may identify opportunities for technological
		improvements, but more importantly they can identify which parts
		of problems are not solved by technology.</li>
	<li>Experiments from developers or other
		members of the community that want to try addressing a concrete
		idea provided in an analysis.</li>
	<li>Objections made by community members
		in response to a problem, an analysis, an experiment, or other
		objections.</li>
</ul>
<p>Hopefully this will capture a discussion that directly links Fediverse
community members to those able to enact change.</p>
<h2 id="site-operation">Site Operation</h2>
<p>This site is operated by
<a href="https://mastodon.technology/@cj">@cj@mastodon.technology</a>.</p>
<h2 id="governance-oversight">Governance / Oversight</h2>
<p>This library's governance is currently very small: only
<a href="https://mastodon.technology/@cj">@cj@mastodon.technology</a> is
running things. That is probably because this is so new! If you are interested
in helping, please reach out!</p>
<p>Almost anyone is welcome to participate. Having a technical background isn't
a requirement. Those who advance racist, homophobic, transphobic, or genocidal
ideologies are barred from participating.</p>
<h2 id="short-names">Short-Names</h2>
<p>All accepted submissions are given a short acronym. This acts as an easy way
to refer to existing submissions with ease. We use short-names to make sure the
community has a quick way to refer to our content when discussing it in public
to save on character count, and short-names can also be used in the submission
process.</p>
<p>Short-names also helps with spreading knowledge by word-of-mouth, so that
intrigued readers can discover the library from their friends using these
otherwise-odd short names.</p>
{{end}}
