{{define "title"}}ActivityPub Dev{{end}}
{{define "body"}}<h1>ActivityPub Development</h1>
<p>Welcome to a community library on the ActivityPub protocol.</p>
<p>This site documents the problems, analyses, objections, and technical
experiments identified by the community. It is intended to be a useful central
resource for community members, both technical and non-technical.</p>
<p>This site is a grassroots effort to merely document problems in order to save
the sanity of community members who would otherwise be exhausted getting their
voice out.</p>
<p>While it could be a resource for those who are making changes to ActivityPub,
this site is not the place for that kind of decision-making. By encouraging
discussions that directly connect community-identified problems to technical
experiments, it is the hope that those who do have the power to draft future
versions of ActivityPub refer to this digital library.</p>
<p>Want to learn more? See what this site is
<a href="/about.html">About</a>.</p>
<p>Or, check out how to
<a href="/contributing.html">Contribute</a>! An account on the Fediverse is all
that is required.</p>
<p>Want to peruse the community-identified
<a href="/problems.html">Problems</a>?</p>
<p>Want to read up on <a href="/analyses.html">Analyses</a> provided by
the community?</p>
<p>Want to check out <a href="/experiments.html">Experiments</a>?</p>
<p>Perhaps the <a href="/objections.html">Objections</a> are intriguing?</p>
<p>If you are a developer wanting to create an ActivityPub application, the
<a rel="noreferrer noopener" target="_blank" href="https://socialhub.activitypub.rocks/">
	SocialHub</a> site is a better resource.</p>
{{end}}
