{{define "title"}}ActivityPub Dev -- Library{{end}}
{{define "body"}}<h1>ActivityPub Development</h1>
<p>Welcome to a grassroots organized and operated community library for the
ActivityPub protocol and Fediverse culture. It aims to be a useful nexus of
information both technical and non-technical in nature, containing collection
volunteered by people just like you.</p>
<p>Come <a href="/shelves.html">browse the shelves</a>!</p>
<p>This library's collection has four major categories for capturing the
problems, analyses, objections, and technical experiments identified by the
community. Additionally, works are tagged to aid in finding interesting
literature. All works have primary source links when possible, and if there is
no source link provided then it is an original authored work submitted directly
to this library!</p>
<p>The library's collection is never complete. We're always accepting of new
submissions, so please consider volunteering your work! See how on the
<a href="/contributing.html">Contribute</a> page.</p>
<p>Additionally, your feedback and ideas for improvements are always welcome
anytime. Learn more <a href="/about.html">About</a> us, and use the
<span class="code">#FediLibrary</span> tag in discussions. If you are a
developer wanting to create an ActivityPub application, or looking to join a
community of developers, the
<a href="https://socialhub.activitypub.rocks/">
	SocialHub</a> site is a great resource.</p>
<p>We hope you enjoy your stay.</p> 
{{end}}
